<h1>All Owners</h1>

<%= render 'shared/flash_text' %>

<%= @user %>

<ul>
  <% @owners.each do |owner| %>
    <li>
      <%= link_to owner.name, owner_path(owner) %> -- <%= link_to 'View all pets', owner_pets_path(owner) %>
    </li>
  <% end %>
</ul>

<%= form_tag ({controller: 'owners', action: 'add', method: 'post'}) do %>
  <input name='pet_message'><br>
  <input type='submit' value='Add to Message'>
<% end %>

<%= render 'owners/owner_footer' %>